#tablero{
	position: absolute;
	top:30%;
}

#lineaRana{	
	position: relative;
	height: 100px;
	border: 1px red solid;	
	margin-left: 30px;
}


#lineaRocas{
	margin-top: -40px;
	margin-left: 30px;
}

#lineaRocas>img{
	width: 100px;
}

.card{
	position: absolute;
	width: 80px;
	height: auto;
	display: inline-block;	
	cursor:pointer;
}

@media screen and (max-width: 900px){

	.card{
		width: 60px;
	}

	#lineaRocas>img{
		width: 75px;
	}
	#lineaRocas{
		margin-top: -55px;
		margin-left: 24px;
	}
}

@media screen and (max-width: 600px){

	.card{
		width: 40px;
	}

	#lineaRocas>img{
		width: 50px;
		margin:-1px;
		
	}
	#lineaRocas{
		margin-top: -70px;
		margin-left: 30px;
	}
}







